<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car</title>
</head>
<body>
<table style="width:50%; text-align:center; margin: auto;">
    <thead>
    <tr>
        <th>Модель</th>
        <th>Номер</th>
        <th>ЛС</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.model}"></td>
        <td th:text="${car.series}"></td>
        <td th:text="${car.horsePower}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
